<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.ChatMapper">

	<select id="findDirectRoomId" resultType="Integer">
		SELECT room_id
		FROM (SELECT cr.room_id FROM chat_room cr
		JOIN chat_room_member crm1 ON cr.room_id = crm1.room_id
		JOIN chat_room_member crm2 ON cr.room_id = crm2.room_id
		WHERE crm1.ucode = ${ucode}
		AND crm2.ucode = ${friendUcode}
		AND cr.room_type = 'DIRECT'
		AND crm1.left_at is null
		AND crm2.left_at is null)
		WHERE rownum = 1
	</select>
	
	<insert id="insertChatRoomDirect">
		insert into chat_room(room_type) values ('DIRECT')
		<selectKey keyProperty="roomId" resultType="Integer" order="AFTER">
  		SELECT seq_chat_room.CURRVAL FROM dual
  		</selectKey>
	</insert>
	
	<insert id="insertRoomMember">
		INSERT INTO chat_room_member(room_id,ucode,role)
		VALUES (#{roomId},#{ucode},#{role})
	</insert>
	
	<select id="selectRecentMessages" resultType="model.ChatMessage">
		SELECT *
		FROM (
		SELECT msg_id, room_id, sender_ucode, content, created_at
		FROM chat_message
		WHERE room_id = #{roomId}
		ORDER BY created_at DESC)
		WHERE ROWNUM &lt;= #{limit}
		ORDER BY created_at ASC
	</select>
	
	<select id="selectUserSummary" resultType="model.Friends">
		SELECT ucode, id, name, icon, birth, email, phone
		FROM member
		WHERE ucode=#{friendUcode}
	</select>

</mapper>