@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.container {
width: 100%;
display: flex;
height: 100vh;
}
.sidebar {
 width: 315px;
  flex: 0 0 315px; 
border-right: 1px solid #ccc;
height: 100vh;
min-height: 500px;
}

.content {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
