<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.manatoku.dao.MemberMapper">
  	<!-- SELECT -->
  	
	<select id="checkId" resultType="int">
  		SELECT count(*)
  		FROM member
  		WHERE id=#{id}
  	</select>
  	
  	<select id="selectMemberById" parameterType="String" resultType="com.manatoku.model.Member">
  		SELECT ucode,id,name,icon,pass,birth,email,phone
  		FROM member
  		WHERE id=#{id}
  	</select>
  	
  	<select id="checkEmail" parameterType="String" resultType="int">
  		SELECT count(*)
  		FROM member
  		WHERE email=#{email}
  	</select>

  	<select id="getPassWithUcode" resultType="String">
  		SELECT pass
  		FROM member
  		WHERE ucode=#{ucode}
  	</select>
  	
  	<!-- UPDATE -->
  	
  	<update id="updateName">
  		UPDATE member
  		SET name=${name}
  		WHERE ucode=${ucode}
  	</update>
  	
  	<!-- DELETE -->
  	
  	<delete id="deleteMember">
  		DELETE
  		FROM member
  		WHERE ucode=#{ucode}
  	</delete>
  	
  	<!-- INSERT -->
  	
  	<insert id="insertMember" parameterType="com.manatoku.model.Member">
  		INSERT INTO member (ucode,id,name,pass,birth,email,phone)
  		VALUES (member_seq.NEXTVAL,#{id},#{name},#{pass},#{birth},#{email},#{phone})
  	</insert>
  		
  </mapper>